/* ICONS */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* COMMON */
.hidden {
  display: none;
}

body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}

.strong {
  font-weight: 700;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 6px 20px;
  border: 2px solid currentColor;
  border-radius: 4px;
  font-size: 15px;
}

.btn--light-green {
  color: #076443;
  border-color: #076443;
  transition: 0.6s;
}

.btn--light-green:hover {
  background-color: #076443;
  color: white;
  text-decoration: underline;
}

.btn--brown {
  color: #633510;
  border-color: #633510;
  transition: 0.6s;
}

.btn--brown:hover {
  background-color: #633510;
  color: white;
  text-decoration: underline;
}

.btn--gold {
  color: #966932;
  border-color: #966932;
  transition: 0.6s;
}

.btn--gold:hover {
  background-color: #966932;
  color: white;
  text-decoration: underline;
}

.btn--white {
  border-color: #fff;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}
.btn--white:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline;
}

.btn--black {
  border-color: #000;
  color: #000;
  transition: 0.6s;
  cursor: pointer;
}
.btn--black:hover {
  background-color: #000;
  color: white;
  text-decoration: underline;
}
/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 100;
}

header > .inner {
  height: 120px;
}

header .inner .logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 75px;
  height: 75px;
}

/* SUB MENU */
header .inner .sub-menu {
  display: flex;
  position: absolute;
  top: 6px;
  right: 50px;
}

header .inner .sub-menu .sub-menu__menu {
  display: flex;
}

header .inner .sub-menu .sub-menu__menu > li {
  position: relative;
}

header .inner .sub-menu .sub-menu__menu > li:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background-color: #e5e5e5;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

header .inner .sub-menu .sub-menu__menu > li > a {
  display: block;
  font-size: 13px;
  padding: 10px 15px;
  color: #656565;
}

header .inner .sub-menu .sub-menu__menu > li > a:hover {
  text-decoration: underline;
}

header .inner .sub-menu .search {
  position: relative;
  display: flex;
  height: 36px;
  top: 3px;
}

header .inner .sub-menu .search > span:hover {
  cursor: pointer;
}

header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}

header .inner .sub-menu .search > input:focus {
  width: 190px;
}

header .inner .sub-menu .search > .material-symbols-outlined {
  position: absolute;
  margin: auto;
  right: 3px;
  top: 0;
  bottom: 0;
  height: 24px;
}

/* MAIN MENU */
header .inner .main-menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

header .inner .main-menu .item:hover {
  cursor: pointer;
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}

header .inner .main-menu .item .item__name {
  padding: 10px 25px 34px 25px;
  font-size: 13px;
}

header .inner .main-menu .item .item__contents {
  position: fixed;
  display: none;
  /* transform: scaleY(0);
  transition: 0.5s;
  transform-origin: center top; */
  top: 120px;
  left: 0;
  width: 100%;
}

header .inner .main-menu .item:hover .item__contents {
  display: block;
  /* transform: scaleY(1); */
}

header .inner .main-menu .item .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 20px;
}

header .inner .main-menu .item .item__contents .item__contents__menu .inner {
  display: flex;
}

header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li {
  width: 200px;
  padding-right: 20px;
}

header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul {
  margin-top: 15px;
}

header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
}

header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* BADGES */
header .badges {
  position: absolute;
  top: 150px;
  left: calc(1100px + (100vw - 1100px) / 2);
}

@media screen and (max-width: 1420px) {
  header .badges {
    left: calc(100vw - 160px);
  }
}

header .badges .badge {
  cursor: pointer;
}

header .badges .badge img {
  width: 135px;
}

/* Visual */
.visual {
  border-top: 2px solid black;
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center 0px;
  background-size: cover;
}

.visual .inner {
  position: relative;
  height: 34vw;
}

.visual .inner .slogan {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 24%;
  justify-content: center;
  top: 27%;
  left: 0;
}

.visual .inner .slogan img {
  width: 18vw;
  opacity: 0;
}

.visual.animate .inner .slogan img {
  transition: 0.4s;
  opacity: 1;
}

.visual .inner .slogan a.btn {
  position: absolute;
  top: 13vw;
  width: 6vw;
  text-align: center;
}

.visual .inner img {
  position: absolute;
}

.visual .inner img:nth-child(2) {
  width: 15vw;
  top: 18%;
  left: 34%;
  opacity: 0;
}

.visual.animate .inner img:nth-child(2) {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 0.4s;
}

.visual .inner img:nth-child(3) {
  width: 17vw;
  top: 30%;
  left: 50%;
  opacity: 0;
}

.visual.animate .inner img:nth-child(3) {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 0.8s;
}

.visual .inner img:nth-child(4) {
  width: 17vw;
  top: 23%;
  left: 70%;
  opacity: 0;
}

.visual.animate .inner img:nth-child(4) {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 1.2s;
}

/* NOTICE */
.notice {
  position: relative;
}

.notice .notice-line {
  position: relative;
  font-weight: 700;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  display: flex;
  height: 62px;
}

.notice .notice-line .inner .inner-left {
  position: relative;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #111111;
  align-items: center;
  color: white;
}

.notice .notice-line .inner .inner-left h1 {
  position: absolute;
  left: 0;
  font-size: 16px;
}
.notice .notice-line .inner .inner-left .swiper {
  position: absolute;
  height: 62px;
  left: 80px;
  font-size: 14px;
}
.notice .notice-line .inner .inner-left .swiper .swiper-wrapper .swiper-slide {
  height: 62px;
  line-height: 62px;
}
.notice .notice-line .inner .inner-left a {
  position: absolute;
  right: 15px;
  color: white;
}
.notice .notice-line .inner .inner-left span {
  font-size: 40px;
  vertical-align: bottom;
}

.notice .notice-line .inner .inner-right {
  position: relative;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  background-color: #f6f5ef;
}

.notice .notice-line .inner .inner-right h1 {
  position: absolute;
  right: 120px;
  font-size: 17px;
}
.notice .notice-line .inner .inner-right a {
  position: absolute;
  right: 20px;
  color: black;
}
.notice .notice-line .inner .inner-right span {
  font-size: 40px;
  vertical-align: bottom;
}
@media screen and (max-width: 1479px) {
  .notice .notice-line .inner {
    width: 900px;
  }
  .notice .notice-line .inner .inner-right h1 {
    right: 50%;
  }
  .notice .notice-line .inner .inner-right a {
    right: 25%;
  }
}

@media screen and (min-width: 1479px) {
  .notice .notice-line .inner .inner-left {
    width: 58%;
  }
  .notice .notice-line .inner .inner-right {
    width: 42%;
  }
}

/* PROMOTION */
.notice .promotion {
  position: relative;
  height: 658px;
  background-color: #f6f5ef;
  overflow: hidden;
  transition: height 0.4s;
}

.notice .toggle-promotion.rotated {
  transform: rotate(180deg);
}

.notice .promotion.hide {
  height: 0px;
}

.notice .promotion .swiper {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(819px * 3 + 20px);
  height: 553px;
}

.notice .promotion .swiper .swiper-wrapper .swiper-slide {
  opacity: 0.5;
  transition: 0.3s;
}
.notice .promotion .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper .swiper-wrapper .swiper-slide .btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  text-align: center;
}
#pagination {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.start-stop {
  position: relative;
  bottom: 11px;
  cursor: pointer;
}
.swiper-pagination {
  position: relative;
}
.notice .promotion .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.notice .promotion .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_on.png");
  background-size: cover;
  background-color: transparent;
}
.notice .promotion .swiper-button-prev,
.notice .promotion .swiper-button-next {
  position: absolute;
  top: 230px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #333;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}
.notice .promotion .swiper-button-prev::after,
.notice .promotion .swiper-button-next::after {
  font-size: 28px;
}
.notice .promotion .swiper-button-prev {
  left: 50%;
  transform: translateX(-500px);
}
.notice .promotion .swiper-button-next {
  right: 50%;
  transform: translateX(500px);
}
/* REWARDS */
.rewards {
  position: relative;
  background-color: #1e3932;
}
.rewards .inner {
  position: relative;
  display: flex;
  padding: 30px 0 40px 0;
}
.rewards .inner .rewards__logo {
  display: flex;
  flex-basis: 260px;
  justify-content: center;
  align-items: center;
}
.rewards .inner .rewards__logo img {
  display: block;
  width: 176px;
}
.rewards .inner .rewards__items {
  flex-grow: 1;
}

.rewards .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0.2px #c8c8c8;
}
.rewards .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}
.rewards .inner .rewards__items .rewards__items__register p.subject {
  font-size: 26px;
  margin-bottom: 10px;
}
.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 18px;
}
.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register {
  background-color: #00703a;
  border-color: #00703a;
  color: white;
  margin-right: 6px;
}
.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register:hover,
.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--login:hover,
.rewards
  .inner
  .rewards__items
  .rewards__items__card
  .buttons
  .btn--login:hover {
  text-decoration: underline;
}
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login {
  border-color: white;
  color: white;
}

.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
}
.rewards .inner .rewards__items .rewards__items__card p {
  display: block;
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
.rewards .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ELSALVADOR */
.elsalvador {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url("../images/elsalvador_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .elsalvador {
    height: 43vw;
  }
}

.elsalvador .inner .elsalvador__item {
  position: absolute;
  width: 310px;
  top: 50px;
  left: 160px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
}
.elsalvador .inner .elsalvador__contents {
  position: absolute;
  top: 180px;
  right: 140px;
  transform: translateX(900px);
  opacity: 0;
  transition: 2.5s;
}
.elsalvador.animate .inner .elsalvador__item,
.elsalvador.animate .inner .elsalvador__contents {
  opacity: 1;
  transform: translateX(0);
}
.elsalvador .inner .elsalvador__contents .item-text {
  width: 340px;
}
.elsalvador .inner .elsalvador__contents .btn.btn--brown {
  margin-top: 40px;
  text-align: center;
}

/* ETHIOPIA */
.ethiopia {
  position: relative;
  height: 400px;
  width: 100%;
  background-image: url("../images/ethiopia_bg.png");
  background-size: cover;
  overflow: hidden;
}

.ethiopia::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50px;
  display: block;
  background-image: url("../images/ethiopia_before.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
}
.ethiopia::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background-image: url("../images/ethiopia_after.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 361px;
  height: 400px;
}

.ethiopia .inner img.ethiopia__contents {
  position: absolute;
  top: 120px;
  width: 496px;
}
.ethiopia .inner img.ethiopia__item {
  position: absolute;
  left: -500px;
  opacity: 0;
  transition: 1.5s;
  transition-delay: 0.8s;
}
.ethiopia.animate .inner img.ethiopia__item {
  opacity: 1;
}
.ethiopia .inner .btn.btn--gold {
  position: absolute;
  top: 280px;
  left: 260px;
}

/* FAVORITE */
.favorite {
  position: relative;
  background-image: url("../images/fav_bg.png");
  height: 800px;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-position: -150px;
}

.favorite .text1 {
  position: absolute;
  width: 258px;
  top: 120px;
  left: 108px;
  transition: 2s;
  transform: translate(-700px);
  opacity: 0;
}
.favorite .text2 {
  position: absolute;
  width: 362px;
  top: 370px;
  transition: 2.5s;
  transform: translate(-700px);
  opacity: 0;
}
.favorite.animate .text1,
.favorite.animate .text2 {
  opacity: 1;
  transform: translate(0);
}
.favorite .pictures {
  position: absolute;
  width: 912px;
  top: 100px;
  right: -260px;
}
.favorite .btn.btn--white {
  position: absolute;
  top: 580px;
  left: 238px;
}

/* MAGAZINE */
.magazine {
  position: relative;
  background-image: URL("../images/magazine_bg.png");
  background-repeat: no-repeat;
  background-position: center 60px;
  height: 400px;
  overflow: hidden;
}
.magazine .inner .magazine__img {
  position: absolute;
  top: 0;
  left: 680px;
  opacity: 0;
  transition: 2s;
}
.magazine.animate .inner .magazine__img {
  opacity: 1;
}
.magazine .inner .magazine__text {
  position: absolute;
  top: 150px;
  left: 40px;
}
.magazine .inner .btn.btn--black {
  position: absolute;
  top: 280px;
  left: 300px;
}

/* FIND STORE */
.find-store {
  position: relative;
  background-image: URL("../images/store_bg.jpg");
  background-size: cover;
  height: 400px;
  overflow: hidden;
}
.find-store .inner .image1 {
  position: absolute;
  left: 60px;
  opacity: 0;
  transition: 2s;
}
.find-store .inner .image2 {
  position: absolute;
  top: 150px;
  left: 290px;
  opacity: 0;
  transition: 2s;
}
.find-store .inner .image3 {
  position: absolute;
  top: -60px;
  left: 430px;
  opacity: 0;
  transition: 2s;
}
.find-store .inner .image4 {
  position: absolute;
  top: 300px;
  left: 920px;
  opacity: 0;
  transition: 2s;
}
.find-store .inner .text1 {
  position: absolute;
  top: 100px;
  left: 650px;
  opacity: 0;
  transform: translateX(700px);
  transition: 2.5s;
}
.find-store .inner .text2 {
  position: absolute;
  top: 170px;
  left: 651px;
  opacity: 0;
  transform: translateX(700px);
  transition: 3s;
}
.find-store .inner .btn.btn--black {
  position: absolute;
  top: 290px;
  left: 651px;
  opacity: 0;
  transform: translateX(700px);
  transition: transform 3.5s, background-color 0.6s, color 0.6s,
    text-decoration 0.6s;
}

.find-store.animate .inner .text1,
.find-store.animate .inner .text2,
.find-store.animate .inner .btn.btn--black {
  transform: translateX(0);
}
.find-store.animate .inner .image1,
.find-store.animate .inner .image2,
.find-store.animate .inner .image3,
.find-store.animate .inner .image4,
.find-store.animate .inner .text1,
.find-store.animate .inner .text2,
.find-store.animate .inner .btn.btn--black {
  opacity: 1;
}

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  background-color: #2c2a29;
  color: white;
}

/* FOOTER MENU */
.footer__menu {
  display: flex;
}

.footer__menu .left {
  width: 90%;
}
.footer__menu .left .menu {
  display: flex;
  margin: 5px 50px 40px 50px;
}
.footer__menu .left .menu > li {
  width: 20%;
  padding: 40px;
}
.footer__menu .left .menu > li > ul > a {
  display: inline-block;
  font-size: 14px;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer__menu .left .menu > li > ul > li {
  font-size: 12px;
  margin-top: 7px;
}
.footer__menu .left .menu > li > ul > a:hover,
.footer__menu .left .menu > li > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__menu .right {
  margin-top: 50px;
  margin-left: 40px;
}

/* FOOTER SUB MENU */
.footer__sub-menu {
  width: 1050px;
  margin: 0 auto;
}
.footer__sub-menu > ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.footer__sub-menu > ul a {
  color: #cccccc;
  font-size: 12px;
  box-shadow: 0.1px 0 0 #cccccc;
  padding: 2px 11px 2px 0px;
}
.footer__sub-menu > ul a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer__sub-menu > ul > li:first-child > a {
  color: #00b050;
  font-size: 12px;
}
.footer__sub-menu > ul > li:last-child > a {
  box-shadow: none;
}

/* FOOTER BTN */
.footer__btn {
  display: flex;
  justify-content: center;
}

.footer__btn .footer__btn--white {
  margin: 10px 4px;
  font-size: 12px;
  border-radius: 2.5px;
  flex-basis: 72px;
  text-align: center;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.footer__btn .footer__btn--white:hover {
  text-decoration: underline;
}

/* FOOTER COPYRIGHT */
.footer__copyright {
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding: 30px 0 60px 0;
  color: #999999;
}
